*.PO
*.PR
*.PRI
*.PS
*.WK3
*.Administrator
*.uvoptx
*.uvprojx
*.dep
*.axf
*.htm
*.map
*.crf
*.o
*.IMB
*.IMD
*.PFI
*.SearchResults
*.lnp
*.d
*.cproject
*.html
*.js
*.png
*.css
*.svd
*.xsd
*.iex
*.prefs
*.IAB
*.IAD
*.pdf
*.rej
*.icf
*.ld
*.launch
*.hex
*.ewd
*.ewp
*.eww
*.uvopt
*.saved_uv4
*.plg
*.sct
*.lst
*.project
