*.o
*.crf
*.PO
*.PR
*.PRI
*.PS
*.WK3
*.Administrator
*.uvoptx
*.uvprojx
*.dep
*.axf
*.htm
*.map
*.IMB
*.IMD
*.PFI
*.SearchResults
*.lnp
*.d
*.html
*.js
*.cproject
*.project
*.png
*.svd
*.rej
*.pdf
*.css
*.xsd
*.prefs
*.launch
*.icf
*.plg
*.sct
*.ld
*.lst
*.ewd
*.ewp
*.eww
*.uvopt
*.saved_uv4
*.IAB
*.IAD
*.iex
*.__i
*._ia
